* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  margin:5px;
  font-family: "Helvetica","sans-serif";
}

h4 {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

p {
  position: relative;
  top:25px;
}

.title {
  text-align:center;
  width:30%;
  border: 1px solid black;
  border-top:none;
  border-right:none;
  font-weight:bold;
  font-size:125%;
  position:absolute;
  top:0px;
  right: 0px;
}

#title1 {
  background-color: pink;
}

#title2 {
  background-color: brown;
  color:white;
}

#title3 {
  background-color: yellow;
}

.container {     
      padding:5px;
      height:145px;
      border: 1px solid black;
      background-color: gray;
      position:relative;      
}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    width: 33.33%;   
    padding:5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
    padding:5px;
   }

   #col3 {
    clear:left;
    padding:5px;
  }
}

@media (max-width: 767px) {
  .container {
    height:190px;
  }

  .col-sm-12{
    float: left;
    width:100%;
    padding:5px;
   }
}